.body{
    background:rgb(255, 203, 30);  
}
.shweta{
    color: black;
    background:rgb(255, 203, 30);
    display:inline-block;
    white-space:pre;
    letter-spacing:0;
    line-height:1.4;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size:12px;
}
@media screen and (min-width:1100px){
    .shweta{
        font-size:13px;
    }
}