.body{
    background:rgb(255, 209, 58);  
}
.shweta{
    color: #282828;
    background:rgb(255, 209, 58);
    display:inline-block;
    white-space:pre;
    letter-spacing:0;
    line-height:1.4;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size:12px;
}
@media screen and (min-width:1100px){
    .shweta{
        font-size:13px;
    }
}